@tailwind base;
@tailwind components;

@layer components {
  .form-input {
    @apply w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-emerald-500 outline-none transition-all text-sm;
  }
  .form-textarea {
    @apply form-input font-mono;
  }
}


.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.3s ease-in-out;
}
.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  transform: scale(0.98);
}
